@model Mesa04.Models.Operacao

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Operacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valor" class="control-label"></label>
                <input asp-for="Valor" class="form-control" />
                <span asp-validation-for="Valor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Taxa" class="control-label"></label>
                <input asp-for="Taxa" class="form-control" />
                <span asp-validation-for="Taxa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Despesa" class="control-label"></label>
                <input asp-for="Despesa" class="form-control" />
                <span asp-validation-for="Despesa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FluxoMn" class="control-label"></label>
                <input asp-for="FluxoMn" class="form-control" />
                <span asp-validation-for="FluxoMn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FluxoMe" class="control-label"></label>
                <input asp-for="FluxoMe" class="form-control" />
                <span asp-validation-for="FluxoMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BancoMe" class="control-label"></label>
                <input asp-for="BancoMe" class="form-control" />
                <span asp-validation-for="BancoMe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperacaoStatus" class="control-label"></label>
                <select asp-for="OperacaoStatus" class="form-control"></select>
                <span asp-validation-for="OperacaoStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
