@model Mesa04.Models.ViewModels.OperadorFormViewModel   
<!--troquei de Model para ViewModels, porque agora não vamos mais apresentar somente as propriedades da classe Operador, mas tambem a lista de departamentos, através do formulario criado para esse fim-->
@{
    ViewData["Title"] = "Create";
}

<h2>@ViewData["Title"]</h2>

<h4>Operador</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Operador.Nome" class="control-label"></label>
                <input asp-for="Operador.Nome" class="form-control" />
                <span asp-validation-for="Operador.Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.Email" class="control-label"></label>
                <input asp-for="Operador.Email" class="form-control" />
                <span asp-validation-for="Operador.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.Aniversario" class="control-label"></label>
                <input asp-for="Operador.Aniversario" class="form-control" />
                <span asp-validation-for="Operador.Aniversario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Operador.SalarioBase" class="control-label"></label>
                <input asp-for="Operador.SalarioBase" class="form-control" />
                <span asp-validation-for="Operador.SalarioBase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <!--muito importante esse bloco, é através dele que criamos a caixinha de seleção dos departamentos, quando estamos criando o Operador-->
                <label asp-for="Operador.Departamento" class="control-label"></label>
                <select asp-for="Operador.DepartamentoId" asp-items="@(new SelectList(Model.Departamentos,"Id","Nome"))" class="form-control"></select>
                <!--select é usado para criar a caixinha de seleção// e o asp-items é para gerar as informações que estarao na caixinha, objeto Departamento, chave Id, e o que vou apresentar que é o Nome-->
                <span asp-validation-for="Operador.Departamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
